services:
  mysql:
    image: mysql:8
    healthcheck:
      test: mysqladmin ping -ppass
    environment:
      MYSQL_ROOT_PASSWORD: pass
      MYSQL_DATABASE: dine
    ports:
      - 33061:3306
    volumes:
      - dbdata:/var/lib/mysql
    restart: always

  redis:
    image: redis:7
    ports:
      - 63791:6379
    volumes:
      - redisdata:/data
    restart: always

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.air
    environment:
      CONFIGOR_ENV_PREFIX: FRONTEND
      FRONTEND_VERBOSE_MODE: true
      FRONTEND_DATABASE_AUTOMIGRATE: true
      FRONTEND_DATABASE_DEBUG: true
      FRONTEND_DATABASE_HOST: mysql
      FRONTEND_DATABASE_USER: root
      FRONTEND_DATABASE_PASSWORD: pass
      FRONTEND_DATABASE_NAME: dine
      FRONTEND_REDIS_ADDR: redis:6379
    volumes:
      - ./:/app
    command:
      - -c
      - ./.air/frontend.toml
    expose:
      - 8080
    ports:
      - 8081:8080
    restart: always
    depends_on:
      mysql:
        condition: service_healthy

  backend:
    build:
      context: .
      dockerfile: Dockerfile.air
    environment:
      CONFIGOR_ENV_PREFIX: BACKEND
      BACKEND_VERBOSE_MODE: true
      # BACKEND_DATABASE_AUTOMIGRATE: true
      BACKEND_DATABASE_DEBUG: true
      BACKEND_DATABASE_HOST: mysql
      BACKEND_DATABASE_USER: root
      BACKEND_DATABASE_PASSWORD: pass
      BACKEND_DATABASE_NAME: dine
      BACKEND_REDIS_ADDR: redis:6379
    volumes:
      - ./:/app
    command:
      - -c
      - ./.air/backend.toml
    expose:
      - 8080
    ports:
      - 8082:8080
    restart: always
    depends_on:
      mysql:
        condition: service_healthy

  admin:
    build:
      context: .
      dockerfile: Dockerfile.air
    environment:
      CONFIGOR_ENV_PREFIX: ADMIN
      ADMIN_VERBOSE_MODE: true
      # ADMIN_DATABASE_AUTOMIGRATE: true
      ADMIN_DATABASE_DEBUG: true
      ADMIN_DATABASE_HOST: mysql
      ADMIN_DATABASE_USER: root
      ADMIN_DATABASE_PASSWORD: pass
      ADMIN_DATABASE_NAME: dine
      ADMIN_REDIS_ADDR: redis:6379
    volumes:
      - ./:/app
    command:
      - -c
      - ./.air/admin.toml
    expose:
      - 8080
    ports:
      - 8083:8080
    restart: always
    depends_on:
      mysql:
        condition: service_healthy

  customer:
    build:
      context: .
      dockerfile: Dockerfile.air
    environment:
      CONFIGOR_ENV_PREFIX: CUSTOMER
      CUSTOMER_VERBOSE_MODE: true
      # CUSTOMER_DATABASE_AUTOMIGRATE: true
      CUSTOMER_DATABASE_DEBUG: true
      CUSTOMER_DATABASE_HOST: mysql
      CUSTOMER_DATABASE_USER: root
      CUSTOMER_DATABASE_PASSWORD: pass
      CUSTOMER_DATABASE_NAME: dine
      CUSTOMER_REDIS_ADDR: redis:6379
    volumes:
      - ./:/app
    command:
      - -c
      - ./.air/customer.toml
    expose:
      - 8080
    ports:
      - 8084:8080
    restart: always
    depends_on:
      mysql:
        condition: service_healthy

  intl:
    build:
      context: .
      dockerfile: Dockerfile.air
    environment:
      CONFIGOR_ENV_PREFIX: INTL
      INTL_VERBOSE_MODE: true
      # INTL_DATABASE_AUTOMIGRATE: true
      INTL_DATABASE_DEBUG: true
      INTL_DATABASE_HOST: mysql
      INTL_DATABASE_USER: root
      INTL_DATABASE_PASSWORD: pass
      INTL_DATABASE_NAME: dine
      INTL_REDIS_ADDR: redis:6379
    volumes:
      - ./:/app
    command:
      - -c
      - ./.air/intl.toml
    expose:
      - 50051
    ports:
      - 50051:50051
    restart: always
    depends_on:
      mysql:
        condition: service_healthy

  scheduler:
    build:
      context: .
      dockerfile: Dockerfile.air
    environment:
      CONFIGOR_ENV_PREFIX: SCHEDULER
      SCHEDULER_VERBOSE_MODE: true
      # SCHEDULER_DATABASE_AUTOMIGRATE: true
      SCHEDULER_DATABASE_DEBUG: true
      SCHEDULER_DATABASE_HOST: mysql
      SCHEDULER_DATABASE_USER: root
      SCHEDULER_DATABASE_PASSWORD: pass
      SCHEDULER_DATABASE_NAME: dine
      SCHEDULER_REDIS_ADDR: redis:6379
    volumes:
      - ./:/app
    command:
      - -c
      - ./.air/scheduler.toml
    restart: always
    depends_on:
      mysql:
        condition: service_healthy

volumes:
  dbdata:
  redisdata:
