basePath: /api/v1
info:
  contact: {}
  description: 供微信小程序、知心话等客户侧APP使用.
  title: 客户侧 API
  version: "1.0"
paths: {}
securityDefinitions:
  BearerAuth:
    description: Type "Bearer" followed by a space and the JWT token.
    in: header
    name: Authorization
    type: apiKey
swagger: "2.0"
